# ===============================
# Node / JavaScript / Next.js
# ===============================

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Next.js build & output
/.next/
 /out/
/build/
 /dist/

# testing
/coverage

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
*.log

# env files
.env*
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# ===============================
# Laravel / PHP
# ===============================
**/vendor/
**/.env
**/storage/*.key
**/storage/debugbar/
**/storage/logs/
**/storage/framework/sessions/*
**/storage/framework/views/*
**/storage/framework/cache/data/*
**/bootstrap/cache/*.php

# Composer
composer.lock

# ===============================
# OS / IDE / Editor
# ===============================
.DS_Store
Thumbs.db
*.pem
*.swp
*.swo
.vscode/
.idea/
*.iml

# ===============================
# Optional / Temp / Local folders
# ===============================
**/ojt-temp/
**/react-scripts/
**/withAPI/
**/npm/

# Local projects (DO NOT COMMIT)
LioYoroProjects/
